*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary:  #A20026;
    --bg-color: #FFEEEE;
    --tags-color: #E9CFD1;
    --nav-bar-color: #F6D3D3;
    --button-pink-nude: #F4D3CE;
    --clr-white: rgb(255, 255, 255);
    --clr-black: rgb(0, 0, 0);
}

li{
    cursor: pointer;
}

body {
    background-color: var(--bg-color);
}

header h1 {
    display: flex;
    background-color: var(--color-primary);
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.7rem;
    width: auto;
    height: 5.3rem;
    justify-content: center;
    align-items: center;
}


.navBar{
    display: flex;
    flex-direction: row;
    background-color: var(--nav-bar-color);
    height: 1.6rem;
    font-family: 'roboto';
}
.navBar ul{
    display: flex;
    list-style: none;
    gap: 2rem;
    padding-left: 0.5rem;
    align-items: center;
}
.navBar ul li a {
    text-decoration: none;
    color: var(--clr-black);
    font-size: 0.8rem;
    line-height: 20px;
    letter-spacing: 0.25px;
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
}

.to-do:hover {
    transform: scale(1.2);
    transition: .3s;
    font-weight: 500;
}

.to-do.active {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.17);
    font-weight: 500;
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 0.2rem;
    transform: scale(1.2);
    transition: .3s;
}

.notes:hover {
    transform: scale(1.2);
    transition: .3s;
    font-weight: 500;
}
.favorites:hover {
    transform: scale(1.2);
    transition: .3s;
    font-weight: 500;
}
.settings:hover {
    transform: scale(1.2);
    transition: .3s;
    font-weight: 500;
}

.modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(69, 69, 69, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
}

.modal.active {
    opacity: 1;
    visibility: visible;
}

form {
    display: flex;
    flex-direction: column;
    width: 26rem;
    height: 18.6rem;
    padding: 2.7rem 2rem 0rem 2.9rem;
    font-family: 'roboto';
    background-color: #FFF1F1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.17);
    border-radius: 0.9rem;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
}

form.active {
    opacity: 1;
    visibility: visible;
}


form h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: start;
}

.labelTask {
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    color: #434141;
    text-align: start;
    padding-top: 2.5rem;
    padding-bottom: 0.6rem;
}
#task {
    width: 20.9rem;
    height: 2.5rem;
    padding-bottom: 1rem;
    background: var(--tags-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.17);
    border-radius: 8px;
    border-style: none;
}
.error-message{
    color: red;
    display: none;
    font-size: 0.7rem;
    padding-left: 0.2rem;
    padding-top: 1rem;
}
.button-container{
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    padding-top: 1.5rem;
}

.btnAdd {
    width: 126px;
    height: 40px;
    background: var(--color-primary);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    color: var(--clr-white);
    border-style: none;
    cursor: pointer;
}

.btnCancel {
    width: 126px;
    height: 40px;
    background: var(--button-pink-nude);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    border-style: none;
    cursor: pointer;
}

.showTasks{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    list-style: none;
    gap: 1rem;
    font-family: 'roboto';
}

.subtitle {
    display: flex;
    padding: 1rem;
    text-decoration: underline;
    justify-content: center;
}

.endBtn {
    position: fixed;
    bottom: 3.5rem;
    left: 50%;
    gap: 4.7rem;
    transform: translateX(-50%);
}



.showTasks li {
    background-color: var(--tags-color);
    display: flex;
    width: 28rem;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: .6rem;
}

#newBtn {
    width: 120px;
    height: 38px;
    border-radius: 15px;
    background: var(--color-primary);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    color: var(--clr-white);
    border-style: none;
    cursor: pointer;
}

#endBtn {
    width: 120px;
    height: 38px;
    background: var(--button-pink-nude);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    border-style: none;
    cursor: pointer;
}