* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headerPage {
    background: #f8e5d4;
    height: 5rem;
    display: grid;
}

.headerPage h1 {
    color: #2d2d2d;
    align-self: center;
    padding-left: 2rem;
    font-size: 2rem;
    justify-self: center;
}

.mainClass {
    background-color: #fffaf7;
    width: 100%;
    height: 47.125rem;
    position: static;
}
.navBar {
    background-color: #FAFAFA;
    height: 1.875rem;
    box-shadow: 0rem 0.25rem 0.3rem rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: end;
}

.navBar a {
    font-size: .9375rem;
    text-decoration: none;
    color: black;
    padding-right: 2rem;
    padding-left: 1rem;
}

#month {
    /* font-size: 55rem; */
}